@import url('https://fonts.cdnfonts.com/css/simpsonfont');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fjord+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fira+Mono:wght@400;500;700&family=Fjord+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Fira Mono', sans-serif;
}

body {
    min-height: 100vh;/*altura minima da tela*/
    background-image: url('../assets/background.png');/*iamgem de fundo*/
    background-size: cover;/*para que a imagem de fundo não se repita*/
    margin: 0;/*zerando a margem*/
    padding: 0;/*zerando o padding*/
}

#div_titulo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

#div_titulo a {
    font-size:4.5vw; /* vh equivale a 1% do tamanho da tela (viwer point)*/
    color: #F05E2F;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

nav {
    background-color: #FEDD25;
    height: 70px;
    width: 85%;
    border-radius: 10px;
    margin: auto;
    margin-top: 3vh;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
}

nav a { 
    font-size: 20px;
    color: white;
    font-weight: 800;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-conteudo {
    width: 85%;
    height: 100vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px rgba(218, 238, 247, 0.8);
    margin-top: 1%;
}

#container-fotos-home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vh;
    padding-top: 5vh;
}
#img-bem-vindo {
    width: 35vw;
    height: auto;
    border-radius: 10px;
}
#img-cidadaos {
    width: 33.5vw;
    height: auto;
    border-radius: 10px;
}

.introducao{
    display: flex;/*torna o container flexivel*/
    align-items: center;/*centraliza*/
    justify-content: center;/*centraliza*/
    flex-direction: column;
     /* tamanho da fonte*/
}

.introducao p{
    font-size: 2vh;
    text-shadow: #FEDD25;
    border-right: 4px solid #F05E2F;/* borda na direita que vai servir como cursor*/
    width: 43ch; /*quantidade de caracteres da frase*/
    white-space: nowrap;/* é para a animação pular os espaços em branco*/
    overflow: hidden; /* é usado para esconder as outras letras até a animação de escrever mostre*/
    animation: escrevendo 4s steps(43) /*vai escrever cada caracter em etapas diferentes*/,
    piscando 0.5s infinite step-end alternate /*vai iniciar uma animação depois da outra*/;
}

@keyframes escrevendo{
    from{
        width: 0; /* percorre todo a frase desde o caracter 0*/
    }
}
@keyframes piscando{
    50%{
        border-color: transparent;/* vai ficar transparente para simular o cursor piscando*/
    }
}

.introducao h3{
    font-size: 2.5vh;
    font-weight: normal;
    width: 112vh;
}